:root{
    --app-color: #FFFFFF;
    --text-color: #11142D;
    --text-description: #a4a8b1;
}
*{
    box-sizing: inherit;
    margin: 0;
}
html{
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}

.grid {
    max-width: 1200px;
    margin: 0 auto;
}
.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
}

.grid__column-6{
    max-width: 50%;
    padding: 0 8px;
}
.grid__column-3{
    padding: 0 8px;
}
.grid__column-8 {
    max-width: 66.66667%;
    padding: 8px;
}
.grid__column-4 {
    max-width: 33.33333%;
    padding: 8px;
}
