:root{
    --app-color: #FFFFFF;
    --text-color: #11142D;
}
html{
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
    margin: 0;
}
.grid {
    max-width: 1200px;
    margin: 0 auto;
}
.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

